.overlayMain {
  font-family: "Segoe UI", sans-serif;
}
.pickerDivTable {
  width: 100%;
  table-layout: fixed;
}

.pickerDivTable td {
  height: 50px;
  vertical-align: bottom;
  text-align: left;
  padding: 5px;
}

.overlayFooter {
  background: #222;
  padding: 20px 0;
  height: auto;
  box-sizing: border-box;
  text-align: center;
  display: block;
}

.footerLeftCell,
.footerRightCell {
  display: inline-block;
  width: auto;
}

.overlayFooter button {
  background: #222;
}

.calendarTableRowHead td {
  height: auto;
  border: none;
  border-bottom: 1px solid #fff !important;
  color: #999;
}

.buttonStyle {
  width: auto;
  font-family: "Segoe UI", sans-serif;
}
